@import "tailwindcss";
@import "./index.css";

#root {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color: var(--text-colour);

  font-family: var(--font-heading);
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 20;
  position: relative;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  margin-bottom: 13.5%;
}

.logo-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: left;
  position: fixed;
  margin-top: 5%;
  margin-left: 3%;
}

.logo {
  transition: transform 0.3s ease-in-out;
}

.rotating {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }  
  to {
    transform: rotate(360deg);
  }
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-right: 30px;
  margin-top: 10px;
  justify-content: right;
  color: var(--accent-colour);
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--accent-secondary);
}

.body-container {
  margin-left: 10%;
  margin-right: 10%;
}

.tagline-container {
  width: 800px;
  height: 200px;
  flex-shrink: 0;

  font-size: 50px;
  font-weight: 400%;
  line-height: 119.968%;
  letter-spacing: -3.5px;
}
